<h2>Búsquedas</h2>
<hr>
<ul class="list-group">
    <a 
        class="list-group-item"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{exact:true}"
        routerLink=""
    >
        Buscar país
    </a>
    <a 
        class="list-group-item"
        routerLinkActive="active"
        routerLink="region"
    >
        Por región
    </a>

    <a 
        class="list-group-item"
        routerLinkActive="active"
        routerLink="capital"
    >
        Por capital
    </a>
</ul>